<div class="list-item"
		 data-id="{{id}}"
		 data-name="{{name}}"
		 data-amount="{{amount}}"
		 data-calory="{{calory}}"
		 data-subtotal="{{subtotal}}">
	<p class="list-description">{{name}}: {{subtotal}} Кkal,</p>
	<div class="btn-area">
		<div class="remove">-</div>
		<div class="add-shop">+</div>
	</div>
</div>