<div class="product-inner">
	<img class="product" src="{{src}}"
			 alt="{{name}} photo"
			 id="{{id}}"
			 draggable="true"
			 data-name="{{name}}"
			 data-calory="{{calory}}"
			 data-category="{{category}}"/>
	<p>{{name}}<br/>(100g): {{calory}} Kk</p>
</div>